/*
  icons : 
  Spotify Icon : <svg viewBox="0 0 1134 340" class="spotify-logo--text"><title>Spotify</title><path fill="currentColor" d="M8 171c0 92 76 168 168 168s168-76 168-168S268 4 176 4 8 79 8 171zm230 78c-39-24-89-30-147-17-14 2-16-18-4-20 64-15 118-8 162 19 11 7 0 24-11 18zm17-45c-45-28-114-36-167-20-17 5-23-21-7-25 61-18 136-9 188 23 14 9 0 31-14 22zM80 133c-17 6-28-23-9-30 59-18 159-15 221 22 17 9 1 37-17 27-54-32-144-35-195-19zm379 91c-17 0-33-6-47-20-1 0-1 1-1 1l-16 19c-1 1-1 2 0 3 18 16 40 24 64 24 34 0 55-19 55-47 0-24-15-37-50-46-29-7-34-12-34-22s10-16 23-16 25 5 39 15c0 0 1 1 2 1s1-1 1-1l14-20c1-1 1-1 0-2-16-13-35-20-56-20-31 0-53 19-53 46 0 29 20 38 52 46 28 6 32 12 32 22 0 11-10 17-25 17zm95-77v-13c0-1-1-2-2-2h-26c-1 0-2 1-2 2v147c0 1 1 2 2 2h26c1 0 2-1 2-2v-46c10 11 21 16 36 16 27 0 54-21 54-61s-27-60-54-60c-15 0-26 5-36 17zm30 78c-18 0-31-15-31-35s13-34 31-34 30 14 30 34-12 35-30 35zm68-34c0 34 27 60 62 60s62-27 62-61-26-60-61-60-63 27-63 61zm30-1c0-20 13-34 32-34s33 15 33 35-13 34-32 34-33-15-33-35zm140-58v-29c0-1 0-2-1-2h-26c-1 0-2 1-2 2v29h-13c-1 0-2 1-2 2v22c0 1 1 2 2 2h13v58c0 23 11 35 34 35 9 0 18-2 25-6 1 0 1-1 1-2v-21c0-1 0-2-1-2h-2c-5 3-11 4-16 4-8 0-12-4-12-12v-54h30c1 0 2-1 2-2v-22c0-1-1-2-2-2h-30zm129-3c0-11 4-15 13-15 5 0 10 0 15 2h1s1-1 1-2V93c0-1 0-2-1-2-5-2-12-3-22-3-24 0-36 14-36 39v5h-13c-1 0-2 1-2 2v22c0 1 1 2 2 2h13v89c0 1 1 2 2 2h26c1 0 1-1 1-2v-89h25l37 89c-4 9-8 11-14 11-5 0-10-1-15-4h-1l-1 1-9 19c0 1 0 3 1 3 9 5 17 7 27 7 19 0 30-9 39-33l45-116v-2c0-1-1-1-2-1h-27c-1 0-1 1-1 2l-28 78-30-78c0-1-1-2-2-2h-44v-3zm-83 3c-1 0-2 1-2 2v113c0 1 1 2 2 2h26c1 0 1-1 1-2V134c0-1 0-2-1-2h-26zm-6-33c0 10 9 19 19 19s18-9 18-19-8-18-18-18-19 8-19 18zm245 69c10 0 19-8 19-18s-9-18-19-18-18 8-18 18 8 18 18 18zm0-34c9 0 17 7 17 16s-8 16-17 16-16-7-16-16 7-16 16-16zm4 18c3-1 5-3 5-6 0-4-4-6-8-6h-8v19h4v-6h4l4 6h5zm-3-9c2 0 4 1 4 3s-2 3-4 3h-4v-6h4z"></path></svg>
   //
  1-home : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl home-icon" viewBox="0 0 24 24"><path d="M12.5 3.247a1 1 0 00-1 0L4 7.577V20h4.5v-6a1 1 0 011-1h5a1 1 0 011 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 013 0l7.5 4.33a2 2 0 011 1.732V21a1 1 0 01-1 1h-6.5a1 1 0 01-1-1v-6h-3v6a1 1 0 01-1 1H3a1 1 0 01-1-1V7.577a2 2 0 011-1.732l7.5-4.33z"></path></svg>
  2-search: <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl search-icon" viewBox="0 0 24 24"><path d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 101.414-1.414l-4.344-4.344a9.157 9.157 0 002.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z"></path></svg>
  3-biobl : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl collection-active-icon" viewBox="0 0 24 24"><path d="M3 22a1 1 0 01-1-1V3a1 1 0 012 0v18a1 1 0 01-1 1zM15.5 2.134A1 1 0 0014 3v18a1 1 0 001 1h6a1 1 0 001-1V6.464a1 1 0 00-.5-.866l-6-3.464zM9 2a1 1 0 00-1 1v18a1 1 0 102 0V3a1 1 0 00-1-1z"></path></svg>
   //
  userSvgAccount : 
  arrowUp : <svg role="img" height="16" width="16" class="Svg-sc-1bi12j5-0 EQkJl eAXFT6yvz37fvS1lmt6k" viewBox="0 0 16 16"><path d="M14 10L8 4l-6 6h12z"></path></svg>
  arrowdown : <svg role="img" height="16" width="16" class="Svg-sc-1bi12j5-0 EQkJl eAXFT6yvz37fvS1lmt6k" viewBox="0 0 16 16"><path d="M14 6l-6 6-6-6h12z"></path></svg> 

   arrowleff : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 eENWnB IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24"><path d="M15.957 2.793a1 1 0 010 1.414L8.164 12l7.793 7.793a1 1 0 11-1.414 1.414L5.336 12l9.207-9.207a1 1 0 011.414 0z"></path></svg>
   arrowright:<svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 eENWnB IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24"><path d="M8.043 2.793a1 1 0 000 1.414L15.836 12l-7.793 7.793a1 1 0 101.414 1.414L18.664 12 9.457 2.793a1 1 0 00-1.414 0z"></path></svg>
    */
:root {
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,.07);
  --background-tinted-highlight: hsla(0,0%,100%,.1);
  --background-tinted-press: hsla(0,0%,100%,.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

/*
  icons : 
  Spotify Icon : <svg viewBox="0 0 1134 340" class="spotify-logo--text"><title>Spotify</title><path fill="currentColor" d="M8 171c0 92 76 168 168 168s168-76 168-168S268 4 176 4 8 79 8 171zm230 78c-39-24-89-30-147-17-14 2-16-18-4-20 64-15 118-8 162 19 11 7 0 24-11 18zm17-45c-45-28-114-36-167-20-17 5-23-21-7-25 61-18 136-9 188 23 14 9 0 31-14 22zM80 133c-17 6-28-23-9-30 59-18 159-15 221 22 17 9 1 37-17 27-54-32-144-35-195-19zm379 91c-17 0-33-6-47-20-1 0-1 1-1 1l-16 19c-1 1-1 2 0 3 18 16 40 24 64 24 34 0 55-19 55-47 0-24-15-37-50-46-29-7-34-12-34-22s10-16 23-16 25 5 39 15c0 0 1 1 2 1s1-1 1-1l14-20c1-1 1-1 0-2-16-13-35-20-56-20-31 0-53 19-53 46 0 29 20 38 52 46 28 6 32 12 32 22 0 11-10 17-25 17zm95-77v-13c0-1-1-2-2-2h-26c-1 0-2 1-2 2v147c0 1 1 2 2 2h26c1 0 2-1 2-2v-46c10 11 21 16 36 16 27 0 54-21 54-61s-27-60-54-60c-15 0-26 5-36 17zm30 78c-18 0-31-15-31-35s13-34 31-34 30 14 30 34-12 35-30 35zm68-34c0 34 27 60 62 60s62-27 62-61-26-60-61-60-63 27-63 61zm30-1c0-20 13-34 32-34s33 15 33 35-13 34-32 34-33-15-33-35zm140-58v-29c0-1 0-2-1-2h-26c-1 0-2 1-2 2v29h-13c-1 0-2 1-2 2v22c0 1 1 2 2 2h13v58c0 23 11 35 34 35 9 0 18-2 25-6 1 0 1-1 1-2v-21c0-1 0-2-1-2h-2c-5 3-11 4-16 4-8 0-12-4-12-12v-54h30c1 0 2-1 2-2v-22c0-1-1-2-2-2h-30zm129-3c0-11 4-15 13-15 5 0 10 0 15 2h1s1-1 1-2V93c0-1 0-2-1-2-5-2-12-3-22-3-24 0-36 14-36 39v5h-13c-1 0-2 1-2 2v22c0 1 1 2 2 2h13v89c0 1 1 2 2 2h26c1 0 1-1 1-2v-89h25l37 89c-4 9-8 11-14 11-5 0-10-1-15-4h-1l-1 1-9 19c0 1 0 3 1 3 9 5 17 7 27 7 19 0 30-9 39-33l45-116v-2c0-1-1-1-2-1h-27c-1 0-1 1-1 2l-28 78-30-78c0-1-1-2-2-2h-44v-3zm-83 3c-1 0-2 1-2 2v113c0 1 1 2 2 2h26c1 0 1-1 1-2V134c0-1 0-2-1-2h-26zm-6-33c0 10 9 19 19 19s18-9 18-19-8-18-18-18-19 8-19 18zm245 69c10 0 19-8 19-18s-9-18-19-18-18 8-18 18 8 18 18 18zm0-34c9 0 17 7 17 16s-8 16-17 16-16-7-16-16 7-16 16-16zm4 18c3-1 5-3 5-6 0-4-4-6-8-6h-8v19h4v-6h4l4 6h5zm-3-9c2 0 4 1 4 3s-2 3-4 3h-4v-6h4z"></path></svg>
   //
  1-home : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl home-icon" viewBox="0 0 24 24"><path d="M12.5 3.247a1 1 0 00-1 0L4 7.577V20h4.5v-6a1 1 0 011-1h5a1 1 0 011 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 013 0l7.5 4.33a2 2 0 011 1.732V21a1 1 0 01-1 1h-6.5a1 1 0 01-1-1v-6h-3v6a1 1 0 01-1 1H3a1 1 0 01-1-1V7.577a2 2 0 011-1.732l7.5-4.33z"></path></svg>
  2-search: <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl search-icon" viewBox="0 0 24 24"><path d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 101.414-1.414l-4.344-4.344a9.157 9.157 0 002.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z"></path></svg>
  3-biobl : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl collection-active-icon" viewBox="0 0 24 24"><path d="M3 22a1 1 0 01-1-1V3a1 1 0 012 0v18a1 1 0 01-1 1zM15.5 2.134A1 1 0 0014 3v18a1 1 0 001 1h6a1 1 0 001-1V6.464a1 1 0 00-.5-.866l-6-3.464zM9 2a1 1 0 00-1 1v18a1 1 0 102 0V3a1 1 0 00-1-1z"></path></svg>
   //
  userSvgAccount : 
  arrowUp : <svg role="img" height="16" width="16" class="Svg-sc-1bi12j5-0 EQkJl eAXFT6yvz37fvS1lmt6k" viewBox="0 0 16 16"><path d="M14 10L8 4l-6 6h12z"></path></svg>
  arrowdown : <svg role="img" height="16" width="16" class="Svg-sc-1bi12j5-0 EQkJl eAXFT6yvz37fvS1lmt6k" viewBox="0 0 16 16"><path d="M14 6l-6 6-6-6h12z"></path></svg> 

   arrowleff : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 eENWnB IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24"><path d="M15.957 2.793a1 1 0 010 1.414L8.164 12l7.793 7.793a1 1 0 11-1.414 1.414L5.336 12l9.207-9.207a1 1 0 011.414 0z"></path></svg>
   arrowright:<svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 eENWnB IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24"><path d="M8.043 2.793a1 1 0 000 1.414L15.836 12l-7.793 7.793a1 1 0 101.414 1.414L18.664 12 9.457 2.793a1 1 0 00-1.414 0z"></path></svg>
    */
:root {
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,.07);
  --background-tinted-highlight: hsla(0,0%,100%,.1);
  --background-tinted-press: hsla(0,0%,100%,.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

/*
  icons : 
  Spotify Icon : <svg viewBox="0 0 1134 340" class="spotify-logo--text"><title>Spotify</title><path fill="currentColor" d="M8 171c0 92 76 168 168 168s168-76 168-168S268 4 176 4 8 79 8 171zm230 78c-39-24-89-30-147-17-14 2-16-18-4-20 64-15 118-8 162 19 11 7 0 24-11 18zm17-45c-45-28-114-36-167-20-17 5-23-21-7-25 61-18 136-9 188 23 14 9 0 31-14 22zM80 133c-17 6-28-23-9-30 59-18 159-15 221 22 17 9 1 37-17 27-54-32-144-35-195-19zm379 91c-17 0-33-6-47-20-1 0-1 1-1 1l-16 19c-1 1-1 2 0 3 18 16 40 24 64 24 34 0 55-19 55-47 0-24-15-37-50-46-29-7-34-12-34-22s10-16 23-16 25 5 39 15c0 0 1 1 2 1s1-1 1-1l14-20c1-1 1-1 0-2-16-13-35-20-56-20-31 0-53 19-53 46 0 29 20 38 52 46 28 6 32 12 32 22 0 11-10 17-25 17zm95-77v-13c0-1-1-2-2-2h-26c-1 0-2 1-2 2v147c0 1 1 2 2 2h26c1 0 2-1 2-2v-46c10 11 21 16 36 16 27 0 54-21 54-61s-27-60-54-60c-15 0-26 5-36 17zm30 78c-18 0-31-15-31-35s13-34 31-34 30 14 30 34-12 35-30 35zm68-34c0 34 27 60 62 60s62-27 62-61-26-60-61-60-63 27-63 61zm30-1c0-20 13-34 32-34s33 15 33 35-13 34-32 34-33-15-33-35zm140-58v-29c0-1 0-2-1-2h-26c-1 0-2 1-2 2v29h-13c-1 0-2 1-2 2v22c0 1 1 2 2 2h13v58c0 23 11 35 34 35 9 0 18-2 25-6 1 0 1-1 1-2v-21c0-1 0-2-1-2h-2c-5 3-11 4-16 4-8 0-12-4-12-12v-54h30c1 0 2-1 2-2v-22c0-1-1-2-2-2h-30zm129-3c0-11 4-15 13-15 5 0 10 0 15 2h1s1-1 1-2V93c0-1 0-2-1-2-5-2-12-3-22-3-24 0-36 14-36 39v5h-13c-1 0-2 1-2 2v22c0 1 1 2 2 2h13v89c0 1 1 2 2 2h26c1 0 1-1 1-2v-89h25l37 89c-4 9-8 11-14 11-5 0-10-1-15-4h-1l-1 1-9 19c0 1 0 3 1 3 9 5 17 7 27 7 19 0 30-9 39-33l45-116v-2c0-1-1-1-2-1h-27c-1 0-1 1-1 2l-28 78-30-78c0-1-1-2-2-2h-44v-3zm-83 3c-1 0-2 1-2 2v113c0 1 1 2 2 2h26c1 0 1-1 1-2V134c0-1 0-2-1-2h-26zm-6-33c0 10 9 19 19 19s18-9 18-19-8-18-18-18-19 8-19 18zm245 69c10 0 19-8 19-18s-9-18-19-18-18 8-18 18 8 18 18 18zm0-34c9 0 17 7 17 16s-8 16-17 16-16-7-16-16 7-16 16-16zm4 18c3-1 5-3 5-6 0-4-4-6-8-6h-8v19h4v-6h4l4 6h5zm-3-9c2 0 4 1 4 3s-2 3-4 3h-4v-6h4z"></path></svg>
   //
  1-home : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl home-icon" viewBox="0 0 24 24"><path d="M12.5 3.247a1 1 0 00-1 0L4 7.577V20h4.5v-6a1 1 0 011-1h5a1 1 0 011 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 013 0l7.5 4.33a2 2 0 011 1.732V21a1 1 0 01-1 1h-6.5a1 1 0 01-1-1v-6h-3v6a1 1 0 01-1 1H3a1 1 0 01-1-1V7.577a2 2 0 011-1.732l7.5-4.33z"></path></svg>
  2-search: <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl search-icon" viewBox="0 0 24 24"><path d="M10.533 1.279c-5.18 0-9.407 4.14-9.407 9.279s4.226 9.279 9.407 9.279c2.234 0 4.29-.77 5.907-2.058l4.353 4.353a1 1 0 101.414-1.414l-4.344-4.344a9.157 9.157 0 002.077-5.816c0-5.14-4.226-9.28-9.407-9.28zm-7.407 9.279c0-4.006 3.302-7.28 7.407-7.28s7.407 3.274 7.407 7.28-3.302 7.279-7.407 7.279-7.407-3.273-7.407-7.28z"></path></svg>
  3-biobl : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 EQkJl collection-active-icon" viewBox="0 0 24 24"><path d="M3 22a1 1 0 01-1-1V3a1 1 0 012 0v18a1 1 0 01-1 1zM15.5 2.134A1 1 0 0014 3v18a1 1 0 001 1h6a1 1 0 001-1V6.464a1 1 0 00-.5-.866l-6-3.464zM9 2a1 1 0 00-1 1v18a1 1 0 102 0V3a1 1 0 00-1-1z"></path></svg>
   //
  userSvgAccount : 
  arrowUp : <svg role="img" height="16" width="16" class="Svg-sc-1bi12j5-0 EQkJl eAXFT6yvz37fvS1lmt6k" viewBox="0 0 16 16"><path d="M14 10L8 4l-6 6h12z"></path></svg>
  arrowdown : <svg role="img" height="16" width="16" class="Svg-sc-1bi12j5-0 EQkJl eAXFT6yvz37fvS1lmt6k" viewBox="0 0 16 16"><path d="M14 6l-6 6-6-6h12z"></path></svg> 

   arrowleff : <svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 eENWnB IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24"><path d="M15.957 2.793a1 1 0 010 1.414L8.164 12l7.793 7.793a1 1 0 11-1.414 1.414L5.336 12l9.207-9.207a1 1 0 011.414 0z"></path></svg>
   arrowright:<svg role="img" height="24" width="24" class="Svg-sc-1bi12j5-0 eENWnB IYDlXmBmmUKHveMzIPCF" viewBox="0 0 24 24"><path d="M8.043 2.793a1 1 0 000 1.414L15.836 12l-7.793 7.793a1 1 0 101.414 1.414L18.664 12 9.457 2.793a1 1 0 00-1.414 0z"></path></svg>
    */
:root {
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,.07);
  --background-tinted-highlight: hsla(0,0%,100%,.1);
  --background-tinted-press: hsla(0,0%,100%,.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

html ::-webkit-scrollbar {
  width: 14px;
  background: #242424;
  -webkit-transition: 0.35s linear;
  transition: 0.35s linear;
}
html ::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}
html ::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
@media screen and (max-width: 600px) {
  html ::-webkit-scrollbar {
    display: none !important;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
body button {
  cursor: pointer;
}
body .MainSection #ulForMobileScreen {
  display: none;
}
@media screen and (max-width: 600px) {
  body .MainSection {
    width: 100%;
  }
  body .MainSection #ulForMobileScreen {
    min-width: 100%;
    display: block;
    background-image: linear-gradient(360deg, black, transparent);
    position: fixed;
    bottom: -10px;
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  body .MainSection #ulForMobileScreen li {
    list-style: none;
    margin-inline: 10px;
  }
  body .MainSection #ulForMobileScreen li a {
    margin-inline: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body .MainSection #ulForMobileScreen li a .Svg-sc-active {
    display: none;
  }
  body .MainSection #ulForMobileScreen li a .Svg-sc, body .MainSection #ulForMobileScreen li a .Svg-sc-active {
    margin-left: 15%;
    fill: white;
  }
  body .MainSection #ulForMobileScreen li a span {
    color: white;
    font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
    font-size: 15px;
    margin-block: 15px;
    text-align: center;
  }
  body .MainSection #ulForMobileScreen li a:focus {
    opacity: 1;
  }
  body .MainSection #ulForMobileScreen li a:focus .Svg-sc {
    display: none;
  }
  body .MainSection #ulForMobileScreen li a:focus .Svg-sc-active {
    display: block;
  }
}
body .MainSection .forMobile {
  display: flex;
}
@media only screen and (max-width: 600px) {
  body .MainSection .forMobile .navbar {
    margin-left: -2000px;
  }
}
body .MainSection .forMobile .navbar {
  background-color: rgb(0, 0, 0);
  position: fixed;
  padding: 30px 20px;
  min-width: 15vw;
  min-height: 100%;
  float: left;
  border-right: white;
}
body .MainSection .forMobile .navbar .spotify-logo {
  height: 40px;
  width: auto;
  fill: white;
  margin-bottom: 30px;
}
body .MainSection .forMobile .navbar ul {
  margin-left: -40px;
}
body .MainSection .forMobile .navbar ul li {
  list-style: none;
  margin-block: 15px;
}
body .MainSection .forMobile .navbar ul li a {
  font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  opacity: 0.7;
  transition: 0.35s;
}
body .MainSection .forMobile .navbar ul li a Svg {
  fill: white;
}
body .MainSection .forMobile .navbar ul li a .Svg-sc-active {
  display: none;
}
body .MainSection .forMobile .navbar ul li a span {
  margin-left: 15px;
}
body .MainSection .forMobile .navbar ul li a:hover {
  opacity: 1;
}
body .MainSection .forMobile .navbar ul li a:focus {
  opacity: 1;
}
body .MainSection .forMobile .navbar ul li a:focus .Svg-sc {
  display: none;
}
body .MainSection .forMobile .navbar ul li a:focus .Svg-sc-active {
  display: block;
}
body .MainSection .forMobile .Ply, body .MainSection .forMobile .Liked-titles {
  margin-top: 60px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.35s;
}
body .MainSection .forMobile .Ply .add, body .MainSection .forMobile .Liked-titles .add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: hsla(0deg, 0%, 100%, 0.75);
  border-radius: 2.5px;
}
body .MainSection .forMobile .Ply .add svg, body .MainSection .forMobile .Liked-titles .add svg {
  fill: #242424;
  opacity: 1;
}
body .MainSection .forMobile .Ply span, body .MainSection .forMobile .Liked-titles span {
  margin-left: 15px;
  font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
body .MainSection .forMobile .Ply:hover, body .MainSection .forMobile .Liked-titles:hover, body .MainSection .forMobile .Ply:focus, body .MainSection .forMobile .Liked-titles:focus {
  opacity: 1;
}
body .MainSection .forMobile .Ply:hover .add, body .MainSection .forMobile .Liked-titles:hover .add, body .MainSection .forMobile .Ply:focus .add, body .MainSection .forMobile .Liked-titles:focus .add {
  background-color: white;
}
body .MainSection .forMobile .Liked-titles {
  margin-top: 15px;
}
body .MainSection .forMobile .Liked-titles .like {
  background-image: linear-gradient(45deg, #3d91f4, white 20%, #0d72ea);
}
body .MainSection .forMobile .Liked-titles .like svg {
  fill: white;
}
body .MainSection .forMobile .Liked-titles .like:hover, body .MainSection .forMobile .Liked-titles .like:focus {
  opacity: 1;
}
body .MainSection .forMobile .Liked-titles .like:hover .add, body .MainSection .forMobile .Liked-titles .like:focus .add {
  background-color: white;
}
body .MainSection .forMobile .install {
  position: absolute;
  bottom: 60px;
  left: 20px;
  display: flex;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.35s linear;
}
body .MainSection .forMobile .install svg, body .MainSection .forMobile .install span {
  cursor: pointer;
}
body .MainSection .forMobile .install svg {
  fill: white;
}
body .MainSection .forMobile .install span {
  margin-left: 15px;
  font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
body .MainSection .forMobile .install:hover, body .MainSection .forMobile .install:focus {
  opacity: 1;
}
body .MainSection .UserPage {
  width: 80vw;
  float: right;
  background-image: linear-gradient(180deg, rgba(61, 146, 244, 0.1725490196) 1px, #242424);
  min-width: 81vw;
}
@media screen and (max-width: 600px) {
  body .MainSection .UserPage {
    width: 100vw;
    min-height: 100vh !important;
  }
}
body .MainSection .UserPage .headCenter {
  width: 80vw;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 60px;
  background-color: hsla(212deg, 89%, 60%, 0.25);
  z-index: 10;
}
body .MainSection .UserPage .headCenter #CreateBtn {
  display: none;
}
body .MainSection .UserPage .headCenter #CreateBtn svg {
  height: 25px;
  width: 25px;
  fill: white;
}
@media screen and (max-width: 600px) {
  body .MainSection .UserPage .headCenter {
    width: 100vw !important;
  }
  body .MainSection .UserPage .headCenter ul {
    display: none !important;
  }
  body .MainSection .UserPage .headCenter #CreateBtn {
    display: flex;
    align-items: center;
  }
  body .MainSection .UserPage .headCenter #CreateBtn span {
    margin-left: 10px;
    font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
}
body .MainSection .UserPage .headCenter ul {
  margin-inline: 30px;
  display: flex;
  align-items: center;
}
body .MainSection .UserPage .headCenter ul button {
  cursor: pointer;
  height: 30px;
  width: 95px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 15px;
  margin-inline: 10px;
}
body .MainSection .UserPage .headCenter ul #UserAccount {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: 140px;
  background-color: black;
  border: none;
  transition: 0.35s linear;
}
body .MainSection .UserPage .headCenter ul #UserAccount:hover {
  background-color: #727272;
}
body .MainSection .UserPage .headCenter ul #UserAccount .userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  width: 40px;
  background-color: #727272;
  border-radius: 50%;
  margin-left: 1px;
}
body .MainSection .UserPage .headCenter ul #UserAccount .userIcon svg {
  fill: white;
}
body .MainSection .UserPage .headCenter ul #UserAccount .Data {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .MainSection .UserPage .headCenter ul #UserAccount .Data #UserName {
  font-size: 15px;
  font-weight: 700;
  color: white;
}
body .MainSection .UserPage .headCenter ul #UserAccount .Data Svg {
  fill: white;
}
body .MainSection .UserPage .headCenter .btn {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  body .MainSection .UserPage .headCenter .btn {
    display: none;
  }
}
body .MainSection .UserPage .headCenter .btn .SpecialBtn {
  margin-inline: 5px;
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
}
body .MainSection .UserPage .headCenter .btn .SpecialBtn .Svg-sc {
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .MainSection .UserPage .headCenter .btn ul {
  margin-left: -20px;
}
body .MainSection .UserPage .headCenter .btn ul button {
  height: 40px;
  width: 100px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: all 0.35s linear;
}
body .MainSection .UserPage .headCenter .btn ul button a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
body .MainSection .UserPage .headCenter .btn ul button:focus {
  background-color: hsla(0deg, 0%, 65%, 0.5);
}
body .MainSection .UserPage .headCenter .btn ul #btn1 {
  background-color: hsla(0deg, 0%, 65%, 0.5);
}
body .MainSection .UserPage .playlist-countainer {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30px;
  min-height: 100vh;
}
@media screen and (max-width: 600px) {
  body .MainSection .UserPage .playlist-countainer {
    height: 250px;
    width: 90%;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
}
body .MainSection .UserPage .playlist-countainer .titleLiked {
  height: 300px;
  width: 450px;
  background-image: linear-gradient(135deg, hsla(256deg, 89%, 48%, 0.75), white);
  border-radius: 7.5px;
  font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  color: white;
}
@media screen and (max-width: 600px) {
  body .MainSection .UserPage .playlist-countainer .titleLiked {
    height: 250px;
    width: 90%;
  }
  body .MainSection .UserPage .playlist-countainer .titleLiked p, body .MainSection .UserPage .playlist-countainer .titleLiked h1 {
    margin-top: -15%;
  }
}
body .MainSection .UserPage .playlist-countainer .titleLiked p, body .MainSection .UserPage .playlist-countainer .titleLiked h1 {
  position: relative;
  left: 30px;
  top: 65%;
}
body .MainSection .UserPage .playlist-countainer .titleLiked h1 {
  font-size: 30px;
  font-weight: 700;
}
body .MainSection .UserPage .playlist-countainer .titleLiked p {
  margin-top: -2.5%;
  font-weight: 400;
}
body .MainSection .UserPage .playlist-countainer .playlist-card {
  transition: all 0.35s linear;
  position: relative;
  cursor: pointer;
  padding: 16px;
  height: 280px;
  width: 190px;
  background-color: rgba(36, 36, 36, 0.7254901961);
  border-radius: 7.5px;
  transition: background-color 0.35s linear;
  color: white;
  font-family: spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
}
@media screen and (max-width: 600px) {
  body .MainSection .UserPage .playlist-countainer .playlist-card {
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  body .MainSection .UserPage .playlist-countainer .playlist-card .SvgContainer {
    height: 80% !important;
    width: 40% !important;
  }
  body .MainSection .UserPage .playlist-countainer .playlist-card p {
    display: none;
  }
  body .MainSection .UserPage .playlist-countainer .playlist-card .btn-primary {
    display: none !important;
  }
}
body .MainSection .UserPage .playlist-countainer .playlist-card:hover {
  background-color: hsla(0deg, 0%, 65%, 0.2);
}
body .MainSection .UserPage .playlist-countainer .playlist-card .SvgContainer {
  height: 190px;
  width: 190px;
  background-color: rgba(128, 128, 128, 0.7);
  box-shadow: 0 10px 10px rgb(17, 17, 17);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .MainSection .UserPage .playlist-countainer .playlist-card .SvgContainer svg {
  fill: hsl(0deg, 0%, 65%);
}
body .MainSection .UserPage .playlist-countainer .playlist-card h3 {
  font-size: 16px;
}
body .MainSection .UserPage .playlist-countainer .playlist-card p {
  margin-top: -5px;
  font-size: 12px;
  opacity: 0.75;
}
body .MainSection .UserPage .playlist-countainer .playlist-card .btn-primary {
  display: none;
  position: relative;
  transition: all 0.35s linear;
  height: 60px;
  width: 60px;
  background-color: #1ed760;
  border-radius: 50%;
  position: relative;
  top: -110px;
  right: -140px;
}
body .MainSection .UserPage .playlist-countainer .playlist-card .btn-primary img {
  position: relative;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  margin-left: 5px;
  height: 25px;
  width: auto;
}
body .MainSection .UserPage .playlist-countainer .playlist-card:hover .btn-primary {
  display: flex;
}/*# sourceMappingURL=style.css.map */