@import './functions';

//code section
html{ 
  ::-webkit-scrollbar {
    width: 14px;
    background: #242424;
    transition: .35s linear;
   }
   ::-webkit-scrollbar-thumb{
    background:#a7a7a7;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: #727272;
   }
   @media screen and (max-width:600px) {
    ::-webkit-scrollbar {
      display: none !important;
    }
   }
 }
 
 body{
  .hide{
    display: none;
  }
 width: 100%;
  @include sizing();
  position: relative;
  background-color: black;
  button{
   cursor: pointer;
  }
  .MainSection{
   #ulForMobileScreen{
     display: none;
   }
   @media screen and (max-width:600px){
     width: 100%;
     height: 100%;
     #ulForMobileScreen{         
         min-width:100%; 
         max-height: 40px;
         display: block;
         background-image: linear-gradient(360deg , black , transparent);
         position: fixed;
         bottom: -15px;
         left: -40px;
         @include center();
         li{
           list-style: none;
           margin-inline:10px;
          a{
           margin-inline: 15px;
           text-decoration: none;
           display: flex;
           flex-direction: column;
           text-align: center;
           .Svg-sc-active{
             display: none;
           }
           .Svg-sc,.Svg-sc-active{
             margin-left: 15%;
             fill: white;
           }
           span{
             color: white;
             font-family: $FontStyle;
             font-size: 15px;
             margin-block: 15px;
             text-align: center;
           }
           &:focus{
             opacity: 1;
             .Svg-sc{
               display: none;
             }
             .Svg-sc-active{
              display: block;
             }
            }
          }
         }
        }
   }
   .forMobile{ 
    display: flex;
    @media only screen and (max-width:600px) {
     .navbar{
      margin-left: -2000px; 
     }
    }
    .navbar{
     background-color: rgb(0, 0, 0);
     position: fixed;
     padding: 30px 20px;
     min-width: 15vw;
     min-height: 100%;
     float: left;
     border-right: white;
     .spotify-logo{    
       height: 40px;
       width: auto;
       fill: white;
       margin-bottom: 30px;
     }
     ul{
       margin-left: -40px;
      li{
       list-style: none;
       margin-block: 15px;
       a{
        font-family: $FontStyle;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        opacity: 0.7;
        transition: .35s;
        Svg{
           fill: white
        }
        .Svg-sc-active{
         display: none;
        }
        span{
         margin-left: 15px;
        }
        &:hover{
        opacity: 1;
        }
        &:focus{
         opacity: 1;
         .Svg-sc{
           display: none;
         }
         .Svg-sc-active{
          display: block;
         }
        }
       }
      }
     }
    }
    .Ply{
     margin-top: 60px;
     display: flex;
     align-items: center;
     opacity: 0.7;
     cursor: pointer;
     transition: .35s;
     .add{   
      @include center();
       svg{
       fill: #242424;
       opacity: 1;
       }
       height: 30px;
       width: 30px;
       background-color: hsla(0, 0%, 100%, 0.75) ;
       border-radius: 2.5px;
     }
     span{
      @include StyleSpanNav();
     }
     &:hover,&:focus{
      opacity: 1;
      .add{  
       background-color: white;
      }
     }
    }
    .Liked-titles{
     @extend .Ply;
     margin-top: 15px;
      .like{
       background-image: linear-gradient(45deg , #3d91f4, white 20% ,#0d72ea);
        svg{
         fill: white;
        }
        &:hover,&:focus{
         opacity: 1;
         .add{  
          background-color: white;
         }
        }
      }
    }
    .install{
     position: absolute;
     bottom: 60px;
     left: 20px;
     display: flex;
     align-items: center;
     opacity: 0.7; 
     transition: opacity .35s linear;
     svg,span{
       cursor: pointer;
     }
     svg{
      fill: white;
     }
     span{
      @include StyleSpanNav();
     }
     &:hover,&:focus{
       opacity: 1;
     }
    }
   }
   .SearchUserPage{
    width: 80vw;
    @media screen and (max-width:600px) {
      width: 100vw;
    }
    float: right;
    background-image: linear-gradient(180deg , #3d92f42c 1px , #242424 );
    min-width:81vw;
    min-height: 100vh;
    .headUserInfo{
      width: 80vw;
      padding: 10px 15px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      position: fixed;
      height: 60px;
      background-color: hsl(213, 89%, 48% , 0.5);
      z-index: 10;
      @media screen and (max-width: 600px){
        width: 100vw !important;
        ul{
          display: none !important;
        }
      }
      ul{
        margin-inline: 30px;
        display: flex;
        align-items: center;
        button{
          @include MakeBtn();
          margin-inline: 10px;
        }
        #SubBtn{         
          font-family: $FontStyle;
          color: white;
          font-size: 15px;
          font-weight: 700;
          transition: transform 0.35s linear;
          &:hover{
            background-color: black;
            transform: scale(1.1);
          }
        }
        #UserAccount{  
          @media screen and (max-width:768px) {
            display: none;
          }
           display: flex; 
           align-items: center; 
           padding: 5px 0px;  
           width: 140px;
           background-color: black;
           border: none;
           transition: .35s linear;
           &:hover{
            background-color: #727272
           }
          .userIcon{
            @include center();
            height: 28px;
            width: 40px;
            background-color:  #727272;
            border-radius: 50%; 
            margin-left: 1px;
            svg{
              fill: white;
            }
          }
         .Data{
            padding: 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #UserName{
              font-size: 15px;
              font-weight: 700;
              color: white;
            }
            Svg{
              fill: white;
            }
          }
        }
      }
      .leftSideInfo{
       display: flex;
       .btn{ 
        @media screen and (max-width:1029px) {
          display: none;
        }
        margin-left: 10px;
        button{
          margin-inline: 5px;
          @include StyleArrowBtn();
          .Svg-sc{
            fill: white;
            @include center();
          }
        }
       }
       #SearchBar{
        @include StyleInput();
        margin-left: 20px;
        text-indent: 50px;
        font-size: 15px;
        font-family: $FontStyle;
        @media screen and (min-width:601px) and (max-width:1029px) {
          @include CounterSizing();
        }
        @media screen and (max-width:600px) {
         width: 92vw;
         margin-left: 0%;
         border-radius: 5px;
        }
       }
       ::placeholder{
        font-size: 15px;
        font-family: $FontStyle;
       }
       .ImageSearch{
        height: 30px;
        width: auto;
        z-index: 2;
        position: relative;
        top: 5px;
        left: -69%;
        @media screen and (max-width:600px){
         left: -10%;
        }
       }
      }
    }
    .UserDataTypes{
      margin-top: 120px;
      a{
        margin-left: 20px;
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-family: $FontStyle;
        font-weight: 700;
        @media screen and (min-width:601px) and (max-width:786px) {
          margin-left: 60px;
        }
      }
      #UserTypes{
        #Slider{
          margin-left: -25px;
          @media screen and (min-width:601px) and (max-width:1340px) {
            flex-wrap: wrap;
            gap:20px;
            margin-left: 25px;
          }
         @media screen and (max-width:600px) {
          overflow-x: scroll;
         }
          margin-top: 30px;
          display: flex;
          .fav-card{
            margin-inline: 10px;       
            position: relative;
            text-align: center;
            transition: transform .3s linear;
            img{
              @media screen and (max-width:600px){
                height: 120px;
                width: auto;
              }
              height: 250px;
              width: auto;
              box-shadow: 0 10px 10px #242424;                       
              border-radius: 2%;
              transition: .35s ease;
            }
            .overlay {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              height: 100%;
              width: 100%;
              opacity: 0;
              transition: .5s ease;
              background-color:transparent;
            }          
             p{
              font-family: $FontStyle;
              color: white;
              font-size: 20px;
              position:relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
            }
            &:hover {
              img{
                opacity: 0.5;
                transform: translateY(-10px);
              }
             .overlay,p{
                opacity: 1;
             }
            }
          }
        }
      }
      #AllTypes{
        @include SpecificCodePart();
         @media screen and (min-width:601px ) and (max-width:786px){
            text-align: center;
            margin-left: 25px;
          }
      }
    }
   }
  }
 }