@import './variables';
@import './function';

//code section
html{
 ::-webkit-scrollbar {
  width: 14px;
  background: #242424;
  transition: .35s linear;
 }
 ::-webkit-scrollbar-thumb{
  background:#a7a7a7;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #727272;
 }
 @media screen and (max-width:600px) {
  ::-webkit-scrollbar {
    display: none !important;
  }
 }
}

body{
width: 100%;
 @include sizing();
 background-color: black;
 button{
  cursor: pointer;
 }
 .MainSection{
  #ulForMobileScreen{
    display: none;
  }
  @media screen and (max-width:600px){
    width: 100%;
    #ulForMobileScreen{ 
        min-width:100%; 
        display: block;
        background-image: linear-gradient(360deg , black , transparent);
        position: fixed;
        bottom: -10px;
        left: -40px;
        @include center();
        flex-direction: row;
        li{
          list-style: none;
          margin-inline:10px;
         a{
          margin-inline: 15px;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          text-align: center;
          .Svg-sc-active{
            display: none;
          }
          .Svg-sc,.Svg-sc-active{
            margin-left: 15%;
            fill: white;
          }
          span{
            color: white;
            font-family: $FontStyle;
            font-size: 15px;
            margin-block: 15px;
            text-align: center;
          }
          &:focus{
            opacity: 1;
            .Svg-sc{
              display: none;
            }
            .Svg-sc-active{
             display: block;
            }
           }
         }
        }
       }
  }
  .forMobile{ 
   display: flex;
   @media only screen and (max-width:600px) {
    .navbar{
     margin-left: -2000px; 
    }
   }
   .navbar{
    background-color: rgb(0, 0, 0);
    position: fixed;
    padding: 30px 20px;
    min-width: 15vw;
    min-height: 100%;
    float: left;
    border-right: white;
    .spotify-logo{    
      height: 40px;
      width: auto;
      fill: white;
      margin-bottom: 30px;
    }
    ul{
      margin-left: -40px;
     li{
      list-style: none;
      margin-block: 15px;
      a{
       font-family: $FontStyle;
       font-weight: 700;
       display: flex;
       align-items: center;
       text-decoration: none;
       color: white;
       opacity: 0.7;
       transition: .35s;
       Svg{
          fill: white
       }
       .Svg-sc-active{
        display: none;
       }
       span{
        margin-left: 15px;
       }
       &:hover{
       opacity: 1;
       }
       &:focus{
        opacity: 1;
        .Svg-sc{
          display: none;
        }
        .Svg-sc-active{
         display: block;
        }
       }
      }
     }
    }
   }
   .Ply{
    margin-top: 60px;
    display: flex;
    align-items: center;
    opacity: 0.7;
    cursor: pointer;
    transition: .35s;
    .add{   
     @include center();
      svg{
      fill: #242424;
      opacity: 1;
      }
      height: 30px;
      width: 30px;
      background-color: hsla(0, 0%, 100%, 0.75) ;
      border-radius: 2.5px;
    }
    span{
     @include StyleSpanNav();
    }
    &:hover,&:focus{
     opacity: 1;
     .add{  
      background-color: white;
     }
    }
   }
   .Liked-titles{
    @extend .Ply;
    margin-top: 15px;
     .like{
      background-image: linear-gradient(45deg , #3d91f4, white 20% ,#0d72ea);
       svg{
        fill: white;
       }
       &:hover,&:focus{
        opacity: 1;
        .add{  
         background-color: white;
        }
       }
     }
   }
   .install{
    position: absolute;
    bottom: 60px;
    left: 20px;
    display: flex;
    align-items: center;
    opacity: 0.7; 
    transition: opacity .35s linear;
    svg,span{
      cursor: pointer;
    }
    svg{
     fill: white;
    }
    span{
     @include StyleSpanNav();
    }
    &:hover,&:focus{
      opacity: 1;
    }
   }
  }
  .UserPage{
    width: 80vw;
    @media screen and (max-width:600px) {
      width: 100vw;
    }
    float: right;
    background-image: linear-gradient(180deg , #3d92f42c 1px , #242424 );
    min-width:81vw;
    .headCenter{
      width: 80vw;
      padding: 10px 15px;
      display: flex;
      justify-content:space-between;
      align-items: center;
      position: fixed;
      height: 60px;
      background-color:hsla(212, 89%, 60%, 0.25);
      z-index: 10;
      @media screen and (max-width: 600px){
        width: 100vw !important;
        ul{
          display: none !important;
        }
      }
      ul{
        margin-inline: 30px;
        display: flex;
        align-items: center;
        button{
          @include MakeBtn();
          margin-inline: 10px;
        }
        #SubBtn{         
          font-family: $FontStyle;
          color: white;
          font-size: 15px;
          font-weight: 700;
          transition: transform 0.35s linear;
          &:hover{
            background-color: black;
            transform: scale(1.1);
          }
        }
        #UserAccount{  
           display: flex; 
           align-items: center; 
           padding: 5px 0px;  
           width: 140px;
           background-color: black;
           border: none;
           transition: .35s linear;
           &:hover{
            background-color: #727272
           }
          .userIcon{
            @include center();
            height: 28px;
            width: 40px;
            background-color:  #727272;
            border-radius: 50%; 
            margin-left: 1px;
            svg{
              fill: white;
            }
          }
         .Data{
            padding: 5px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #UserName{
              font-size: 15px;
              font-weight: 700;
              color: white;
            }
            Svg{
              fill: white;
            }
          }
        }
      }
      .btn{
        @media screen and (max-width:600px) {
          display: none;
        }
        margin-left: 10px;
        button{
          margin-inline: 5px;
          @include StyleArrowBtn();
          .Svg-sc{
            fill: white;
            @include center();
          }
        }
      }
    }
    .DataSection{  
      width: 100%;
      margin-top: 8.5%; 
      @media screen and (min-width:768px){
        ul{
          flex-wrap: wrap;
        }
      }
      @media screen and (max-width:600px){
        margin-top:100px;
        ul{
          overflow-x: auto;         
          margin-left: -12% !important;        
          .card-artiste{
            @include MakeCardMobile();
            text-align: center;
            background-color:  transparent !important;
            img{
              height: 150px !important;
              width: auto !important;
            }
            p{
              display: none;
            }
            h3{
              text-align: center !important;
            }
          }
        }
      }  
      #Artists{
        .title{
          margin-inline: 40px;
          @media screen and (max-width:600px){
            margin-inline: 20px;
          }
          display: flex;
          justify-content: space-between;
          align-items: center;
          a{
            color: white;
            text-decoration:none;
            font-family: $FontStyle;
            &:hover{
              text-decoration: underline ;
            }
          }
          .TitleType{
            font-weight: 700;
            font-size: 30px;
          }
          .Link{
            color: #a7a7a7;
            font-size: 18px;
            font-weight: 700;
          }
        }
        ul{
          display: flex;
          align-items: center;       
          margin-left: -20px;
          .card-artiste{
            cursor: pointer;
            padding: 16px;
            margin: 10px;
            @include MakeCard();
            img{
              height: 160px;
              width: auto;
              border-radius: 50%;
              box-shadow: 0px 10px 5px #131313;
            }
            p,h3 {
              text-align: left;
              font-family: $FontStyle;
            }
            p{
              color: hsl(0, 0%, 100% , 0.5);
              font-size: 16px;
              font-weight: 500;
            }
            h3{
              color: hsl(0, 0%, 100% , 0.8);
              font-size: 14px;
              font-weight: 700;
            }
            button{
              @media screen and (max-width:600px){
                display: none;
                &:focus{
                  display: none;
                }
              }
              display: none;
              transition: 0.4s;
              @include StyleBtnPlay();
              position: relative;
              top: -55%;
              right: -65%;
              img{
               position: relative;
               left: 23%;
               top: 23%;
               transform: translateX(-50%) translateY(-50%);
                height: 20px;
                width: auto;
                box-shadow: none;
                border-radius: 0px ;
              }
            }
            transition:all .5s linear;
            &:hover{
              background-color: hsl(0, 0%, 45% , 0.75);        
              button{
                display: block;
              }     
            }
          }
        }
      }
      #Albums{
        @extend #Artists;
        ul{
          .card-artiste{
            padding: 16px;
            img{
              height: 160px;
              width: 160px;
              border-radius: 5px;
              box-shadow: 0px 10px 5px #131313;
            }
            @media screen and (max-width:600px){
              p,h3{
                text-align: left !important;
              }
            }
            p{
              font-size: 14px;
              font-weight: 500;
              @media screen and (max-width:600px){
                display: block;
              }
            }
            h3{
              font-size: 17px;
              font-weight: 700;
            }
          }
        }
      }
      #Playlists{
        @extend #Albums;
        ul{
          .card-artiste{
            h3{
              font-size: 13px ;
            }
          }
        }
      }
      #Episodes{
        @extend #Playlists;
        ul{
          margin-left: 0px;
          .card-soon{
            height: 200px;
            width: 75vw; 
            background-image: linear-gradient(90deg, #292929 , #1ed760);
            border-radius: 15px;
            @include center();
            @media screen and (max-width:600px){
              width: 95vw;
              margin-left: 20px;          
            }
            .title-coming{
              span{
                letter-spacing: 10px;
                cursor: pointer;
                color: white;
                font-size: 30px;
                font-family: $FontStyle;
                text-shadow: 0px 10px 5px #131313;
                transition: all 0.25s linear;
                &:hover{
                  transform: translateY(-10px);
                }
              }
            }
          }
        }
      }
      #Tracks{
        @extend #Albums;
        ul{
          .card-artiste{
            h3{
              font-size: 20px;
            }
            button{
              position: relative;
              top: -40%;
            }
          }
        }
      }
    }
  }
 }
}